<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Create A Thread</title>

    <!-- Main CSS-->
    <link href="/register.css" rel="stylesheet" media="all">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style>
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert h4 {
            margin-top: 0;
            color: inherit;
        }

        .alert .alert-link {
            font-weight: bold;
        }

        .alert > p,
        .alert > ul {
            margin-bottom: 0;
        }

        .alert > p + p {
            margin-top: 5px;
        }

        .alert-dismissable,
        .alert-dismissible {
            padding-right: 35px;
        }

        .alert-dismissable .close,
        .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: -21px;
            color: inherit;
        }

        .alert-success {
            background-color: #dff0d8;
            border-color: #d6e9c6;
            color: #3c763d;
        }

        .alert-success hr {
            border-top-color: #c9e2b3;
        }

        .alert-success .alert-link {
            color: #2b542c;
        }

        .alert-info {
            background-color: #d9edf7;
            border-color: #bce8f1;
            color: #31708f;
        }

        .alert-info hr {
            border-top-color: #a6e1ec;
        }

        .alert-info .alert-link {
            color: #245269;
        }

        .alert-warning {
            background-color: #fcf8e3;
            border-color: #faebcc;
            color: #8a6d3b;
        }

        .alert-warning hr {
            border-top-color: #f7e1b5;
        }

        .alert-warning .alert-link {
            color: #66512c;
        }

        .alert-danger {
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
        }

        .alert-danger hr {
            border-top-color: #e4b9c0;
        }

        .alert-danger .alert-link {
            color: #843534;
        }
    </style>
</head>

<body>
<!--Form-->
<div class="page-wrapper bg-gra p-t-130 p-b-100">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <!--Title of Form-->
                <h2 class="title">Add New Thread</h2>
                <% if(typeof alert != 'undefined') { %>
                    <% alert.forEach(function(error) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" style='margin-left:auto; margin-right:auto'>
                            <%= error.msg %>
                        </div>
                    <% }) %>
                    <% alert = [] %>
                <% } %>
                <form action="/forumHome/<%=groupID%>/<%=catName%>/addThread" method="POST" role="form" id="addThreadForm">

                    <!-- First row -->
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="form-group">
                                <label>Thread Title</label>
                                <input type="text" class="input--style-4" id="name" name="name" maxlength="70" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <div>
                                    <!-- Used for spacing purposes -->
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Notes Row-->
                    <div class="row" style="margin-left: 1px; margin-top: 10px">
                        <div class="form-group">
                            <label>Text (optional)</label>
                            <div id="charCount"> 20000 chars left</div>
                            <textarea class="text" cols="70" rows ="10" form="addThreadForm" id="text" name="text"  maxlength="20000" ></textarea>
                        </div>
                    </div>

                    <!--Button Row-->
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn--radius btn--orange">Post</button>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <a href="/forumHome/<%=groupID%>/<%=catName%>" class="btn btn--radius btn--orange">Back
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(()=>{
        $('#text').on("input", function(){
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;
            $("#charCount").html(maxlength - currentLength + " chars left");
        });
    });
</script>
</body>
</html>
