<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <style>
        tr.clickable-row {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#treeTable').DataTable( {
                autoWidth: false,
                lengthChange: false,
                ordering: false,
                pageLength: 10,
                columnDefs: [
                    {className: "dt-head-center", targets: "_all"}
                ]
            } );
        } );
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff8c00;">
        <b class="navbar-brand"><%=user._id%>'s Profile</b>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/">Home</a>
                  </li>
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/registerTree">Register a Tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/registerSyrup">Register Syrup Processing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin-left: 20px">
        <p style="margin-top:20px">UserName: <%=user._id%></p>
        <p>Email: <%= user.email%></p>
    </div>
    <div class="container" style="margin-top: 30px">
        <table id="treeTable" class="display center">
            <thead>
                <tr>
                    <th>Tree ID</th>
                    <th>Circumference (Inches)</th>
                    <th>Stem Count</th>
                    <th>Tapping Date</th>
                    <th>Tap Height (Inches)</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
            </tbody>
        </table>
    </div>
<script>
    let data = JSON.parse('<%-JSON.stringify(trees)%>');
    if(data) {
        data.forEach(e => {
            console.log("id",e._id);
            let url = 'http://localhost:3000/trees/' + e._id;
            console.log(url);
            let tr = document.createElement('tr');
            tr.setAttribute("class",'clickable-row');
            tr.setAttribute("data-href", url);
            $('#treeTable > tbody').append(tr);
            $("#treeTable > tbody > :last").append("<td>" + e._id + "</td>");
            $("#treeTable > tbody > :last").append("<td>" + e.circumf + "</td>");
            $("#treeTable > tbody > :last").append("<td>" + e.stemCount + "</td>");
            $("#treeTable > tbody > :last").append("<td>" + e.tappingDate.substring(0, 10) + "</td>");
            $("#treeTable > tbody > :last").append("<td>" + e.tapHeight + "</td>");
        });
    }
    $(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });
</script>
</body>
</html>


